version: '3.9'

services:
  postgres:
    image: postgres:15
    container_name: promocodefactory-db
    environment:
      POSTGRES_DB: promocodefactory
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5433"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: